 <p>
   See all the images
 </p>
 <% @image_list.each do |image| %>
     <%= image_tag(image.link, :width => "400") %>

     <% image.tag_list.each do |t| %>
         <div class='tag'>
           <%= t %>
         </div>
     <% end %>
 <% end %>
