 <p>
   See all the images
   <%= link_to 'create an image', new_image_path %>
 </p>
 <% @image_list.each do |image| %>
     <%= image_tag(image.link, :width => "400") %>

     <% image.tag_list.each do |t| %>
         <div class='tag'>
           <%= link_to t, images_path(tag: t) %>
         </div>
     <% end %>
 <% end %>
