 <p>
   <%= image_tag(@image.link, :width => "400") %>
 </p>
 <% @image.tag_list.each do |t| %>
    <div class='tag'>
      <%= link_to t, images_path(tag: t) %>
    </div>
 <% end %>
 <%= link_to 'delete this image', image_path(@image), method: :delete, data: { confirm: "Are you sure?" } %> <br/>
 <%= link_to 'create an image', new_image_path %>
